data
output/descriptives
output/estimation
output/writing
output/archive
output/graphs/archive
output/graphs/honestdid*
.Rprofile
.Rhistory
renv.lock
renv/
src/helpers/config.R
_targets/meta/meta
_targets/
literature
output/graphs/thumbs.db